In [1]:
listbox = ['감사', '행복', '사랑', '성공', '긍정', '변화', '성장', '희망']

Q1. 리스트에 있는 값의 수를 출력

In [2]:
len(listbox)

8

Q2. 리스트의 첫 번째 값을 출력

In [3]:
listbox[0]

'감사'

Q3. 리스트의 마지막 값을 출력

In [4]:
listbox[-1]

'희망'

Q4. 리스트에서 처음부터 세 번째 값까지 출력

In [5]:
listbox[:3]

['감사', '행복', '사랑']

Q5. 리스트에서 마지막 앞 단어를 출력

In [12]:
listbox[-2]

'성장'

Q6. 리스트 값 중 '행복'과 '사랑'만 출력

In [10]:
listbox[1:3]

['행복', '사랑']

Q7. 리스트 값 중 '변화' -> '웃음'으로 변경

In [11]:
listbox[listbox.index('변화')] = '웃음'
listbox

['감사', '행복', '사랑', '성공', '긍정', '웃음', '성장', '희망']

In [13]:
cols = ['name', 'age', 'phone']

Q8. cols 변수는 컬럼명을 담고 있다. cols 리스트에 있는 name, age, phone 컬럼명을 반복문을 통해 출력

In [14]:
for data in cols:
  print (data)

name
age
phone

In [15]:
listbox = [15, 46, 78, 24, 56]

Q9. 리스트에서 최댓값에서 최솟값을 뺀 결과를 리턴(반환)하는 함수를 만들고 실행

In [16]:
def min_max_diff():
  max_val = max(listbox)
  min_val = min(listbox)
  
  return max_val - min_val

min_max_diff()

63

In [17]:
str_data = '여러분의 합격을 응원합니다.'

Q10. 문자열에서 "여러분"을 "당신"으로 변경한 결과를 리턴하는 함수를 만들고 실행하시오.

In [25]:
def change_str(data):
  return data.replace('여러분', '당신')

print(change_str(str_data))

당신의 합격을 응원합니다.