판다스 별칭

In [1]:
import pandas as pd

시리즈(Series)

In [2]:
menu = pd.Series(['비빔밥', '김치찌개', '된장찌개'])
menu

0     비빔밥
1    김치찌개
2    된장찌개
dtype: object

In [3]:
price = pd.Series([10000, 9000, 8000])
price

0    10000
1     9000
2     8000
dtype: int64

데이터프레임 (DataFrame)

In [4]:
pd.DataFrame({
  "메뉴": menu,
  "가격": price
})

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [5]:
df = pd.DataFrame({
  "메뉴": ['비빔밥', '김치찌개','된장찌개'],
  '가격': [10000, 9000, 8000],
  '원산지': ['국내산','국내산','국내산']
})

df

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9000  국내산
2  된장찌개   8000  국내산

컬럼 선택

In [6]:
df['메뉴']

0     비빔밥
1    김치찌개
2    된장찌개
Name: 메뉴, dtype: object

1개의 컬럼을 데이터프레임으로 만들기

In [7]:
df[['메뉴']]

     메뉴
0   비빔밥
1  김치찌개
2  된장찌개

2개 이상의 컬럼 선택

In [8]:
df[['메뉴', '가격']]

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [9]:
cols = ['메뉴', '가격']
df[cols]

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [10]:
print("df :", type(df))
print("df['가격'] : ", type(df['가격']))
print("df[['가격']] : ", type(df[['가격']]))

df : <class 'pandas.core.frame.DataFrame'>
df['가격'] :  <class 'pandas.core.series.Series'>
df[['가격']] :  <class 'pandas.core.frame.DataFrame'>