In [ ]:
import pandas as pd

df = pd.read_csv('cafe2.csv')  # https://kdh9797-devwiki.tistory.com/83 cafe2 만들기 참고
df

      메뉴    가격  칼로리   원산지
0  아메리카노  4500   10  콜롬비아
1   카페라떼  5000  110   NaN
2   카페모카  5500  250  과테말라
3   카푸치노  5000  110  과테말라
4  에스프레소  4000   20   NaN
5    밀크티  5900  210   NaN
6     녹차  5300    0   NaN
7   달콤커피  2000   20   NaN

1개 조건 필터링

In [2]:
df['칼로리'] < 50

0     True
1    False
2    False
3    False
4     True
5    False
6     True
7     True
Name: 칼로리, dtype: bool

In [3]:
df[df['칼로리'] < 50]

      메뉴    가격  칼로리   원산지
0  아메리카노  4500   10  콜롬비아
4  에스프레소  4000   20   NaN
6     녹차  5300    0   NaN
7   달콤커피  2000   20   NaN

NOT 연산자

In [6]:
df[~(df['칼로리'] < 50)]

     메뉴    가격  칼로리   원산지
1  카페라떼  5000  110   NaN
2  카페모카  5500  250  과테말라
3  카푸치노  5000  110  과테말라
5   밀크티  5900  210   NaN

복수 조건 필터링

In [7]:
# 가격이 5000원 이상이면서 칼로리가 100보다 큰 데이터
df[(df['가격'] >= 5000) & (df['칼로리'] > 100)]

     메뉴    가격  칼로리   원산지
1  카페라떼  5000  110   NaN
2  카페모카  5500  250  과테말라
3  카푸치노  5000  110  과테말라
5   밀크티  5900  210   NaN

In [8]:
# 가격이 5000원 이상이거나 칼로리가 100보다 큰 데이터
df[(df['가격'] >= 5000) | (df['칼로리'] > 100)]

     메뉴    가격  칼로리   원산지
1  카페라떼  5000  110   NaN
2  카페모카  5500  250  과테말라
3  카푸치노  5000  110  과테말라
5   밀크티  5900  210   NaN
6    녹차  5300    0   NaN

In [9]:
# 원산지가 과테말라인 데이터
df[df['원산지'] == '과테말라']

     메뉴    가격  칼로리   원산지
2  카페모카  5500  250  과테말라
3  카푸치노  5000  110  과테말라

isin()을 사용한 필터링

In [11]:
# 녹차 찾기
df['메뉴'].isin(['녹차'])

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
Name: 메뉴, dtype: bool

In [13]:
# 녹차 데이터 출력
df[df['메뉴'].isin(['녹차'])]

   메뉴    가격  칼로리  원산지
6  녹차  5300    0  NaN

In [14]:
menu = ['녹차', '카푸치노', '카페라떼']
df[df['메뉴'].isin(menu)]

     메뉴    가격  칼로리   원산지
1  카페라떼  5000  110   NaN
3  카푸치노  5000  110  과테말라
6    녹차  5300    0   NaN