## loc

인덱싱

In [1]:
import pandas as pd

df = pd.read_csv('cafe.csv')  # cafa.csv 만드는 방법 참고 https://kdh9797-devwiki.tistory.com/77
df.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [2]:
df.loc[0]

메뉴     아메리카노
가격      4500
칼로리       10
Name: 0, dtype: object

In [3]:
df.loc[1, "가격"]

5000

슬라이싱

In [7]:
df.loc[:, '가격']

0    4500
1    5000
2    5500
3    5000
4    4000
5    5900
6    5300
Name: 가격, dtype: int64

In [8]:
df.loc[2, '메뉴':'칼로리']

메뉴     카페모카
가격     5500
칼로리     250
Name: 2, dtype: object

In [9]:
df.loc[2, ['메뉴', '칼로리']]

메뉴     카페모카
칼로리     250
Name: 2, dtype: object

In [10]:
df.loc[1:3, '메뉴':'가격']

     메뉴    가격
1  카페라떼  5000
2  카페모카  5500
3  카푸치노  5000

## iloc

인덱싱

In [11]:
df = pd.read_csv('cafe.csv')  # cafa.csv 만드는 방법 참고 https://kdh9797-devwiki.tistory.com/77
df.drop(0, axis=0, inplace=True)
df.head()

      메뉴    가격  칼로리
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210

In [12]:
df.iloc[0]

메뉴     카페라떼
가격     5000
칼로리     110
Name: 1, dtype: object

In [13]:
df.iloc[0,0]

'카페라떼'

슬라이싱

In [14]:
df.iloc[:, 1]

1    5000
2    5500
3    5000
4    4000
5    5900
6    5300
Name: 가격, dtype: int64

In [15]:
df.iloc[2, :2]

메뉴    카푸치노
가격    5000
Name: 3, dtype: object

loc와 iloc의 차이  
카페모카와 카푸치노 데이터 추출

In [20]:
# loc
df.loc[2:3]

     메뉴    가격  칼로리
2  카페모카  5500  250
3  카푸치노  5000  110

In [19]:
# iloc
df.iloc[1:3]

     메뉴    가격  칼로리
2  카페모카  5500  250
3  카푸치노  5000  110