In [1]:
import pandas as pd

df = pd.DataFrame({'A' : ['데이터 분석', '기본 학습서', '퇴근 후 열공'],
                   'B' : [10, 20, 30],
                   'C' : ['ab cd', 'AB CD', 'ab cd']})

df

         A   B      C
0   데이터 분석  10  ab cd
1   기본 학습서  20  AB CD
2  퇴근 후 열공  30  ab cd

문자열 변경 (치환)

In [2]:
df['A'] = df['A'].str.replace('분석', '시각화')
df

         A   B      C
0  데이터 시각화  10  ab cd
1   기본 학습서  20  AB CD
2  퇴근 후 열공  30  ab cd

In [4]:
df['B'] = df['B'].replace(10, 100)
df

         A    B      C
0  데이터 시각화  100  ab cd
1   기본 학습서   20  AB CD
2  퇴근 후 열공   30  ab cd

In [6]:
df['B'] = df['B'].str.replace(20, 200)
df

AttributeError: Can only use .str accessor with string values!

문자열 분리

In [ ]:
df['A'].str.split()

0     [데이터, 시각화]
1      [기본, 학습서]
2    [퇴근, 후, 열공]
Name: A, dtype: object

In [8]:
df['A'].str.split()[0]

['데이터', '시각화']

In [11]:
df['D'] = df['A'].str.split().str[0]
df

         A    B      C    D
0  데이터 시각화  100  ab cd  데이터
1   기본 학습서   20  AB CD   기본
2  퇴근 후 열공   30  ab cd   퇴근

특정 문자열 검색

In [ ]:
# '기본' 단어가 있는지 확인

df['A'].str.contains('기본')

0    False
1     True
2    False
Name: A, dtype: bool

In [13]:
df['기본포함유무'] = df['A'].str.contains('기본')
df

         A    B      C    D  기본포함유무
0  데이터 시각화  100  ab cd  데이터   False
1   기본 학습서   20  AB CD   기본    True
2  퇴근 후 열공   30  ab cd   퇴근   False

문자열 길이

In [15]:
df['문자길이'] = df['A'].str.len()
df

         A    B      C    D  기본포함유무  문자길이
0  데이터 시각화  100  ab cd  데이터   False     7
1   기본 학습서   20  AB CD   기본    True     6
2  퇴근 후 열공   30  ab cd   퇴근   False     7

문자열 대(소)문자 변경

In [16]:
df['C'] = df['C'].str.lower()
df

         A    B      C    D  기본포함유무  문자길이
0  데이터 시각화  100  ab cd  데이터   False     7
1   기본 학습서   20  ab cd   기본    True     6
2  퇴근 후 열공   30  ab cd   퇴근   False     7

In [17]:
df['C'] = df['C'].str.upper()
df

         A    B      C    D  기본포함유무  문자길이
0  데이터 시각화  100  AB CD  데이터   False     7
1   기본 학습서   20  AB CD   기본    True     6
2  퇴근 후 열공   30  AB CD   퇴근   False     7

In [18]:
df['C'] == 'AB CD'

0    True
1    True
2    True
Name: C, dtype: bool

In [20]:
# 문자열 전처리

df['C'] = df['C'].str.lower()
df['C'] = df['C'].str.replace(' ', '')
df['C']

0    abcd
1    abcd
2    abcd
Name: C, dtype: object

문자열 슬라이싱

In [21]:
df['C'].str[1:3]

0    bc
1    bc
2    bc
Name: C, dtype: object